[
  {
    "nlp": "If the system state changes from manual mode to auto mode, the user must be able to check the current systolic pressure."
  },
  {
    "nlp": "The user must be able to alter the current systolic pressure when system state changes from manual mode to auto mode."
  },
  {
    "nlp": "The user must be able to adjust the current systolic pressure if system state changes from manual mode to auto mode"
  },
  {
    "nlp": "If the system switches from manual mode to auto mode, the user should be able to adjust the current systolic pressure."
  },
  {
    "nlp": "If the compact drive first switches from auto mode to manual mode, the system should provide default values for pressure_parameters with the ability to confirm."
  },
  {
    "nlp": "The system should provide last_values manual mode with the ability to confirm if the compact drive was operated from auto mode to manual mode."
  },
  {
    "nlp": "The clinical user interface should display the description of auto mode if auto mode is selected."
  },
  {
    "nlp": "The clinical user interface should provide the ability to switch from manual mode to auto mode if and only if the user is logged in."
  },
  {
    "nlp": "The clinical user interface should provide the ability to switch from auto mode to manual mode if and only if the user is logged in."
  },
  {
    "nlp": "The openenings number of the air_mass balancing valve should be stored by the compact drive."
  },
  {
    "nlp": "The compact drive should count the openenings number of the air_mass balancing valve."
  }
]